[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/rndbyte/neovimrc.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/rndbyte/tmuxrc.git
[submodule ".local/share/fonts/nerd"]
	path = .local/share/fonts/nerd
    url = https://github.com/ryanoasis/nerd-fonts.git
    shallow = true
